body{
  background-color: rgba(251, 245, 221, 1);
}

body {
  
  font-family: 'Poppins', sans-serif;
}

.corpo{
  display: flex;
  justify-content: center;
  align-items: center ;
  flex-direction: column;
}

