@font-face {
    font-family: 'Higelak';
    src: url('../../assets/fonts/Higelak.otf') format('opentype'),
         url('../../assets/fonts/Higelak.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.navegar-background {
    background-color: rgba(221, 168, 83, 1);
    border-bottom: solid black 0.4vh;
    padding: 2vh;
    height: 6vh;
    display: flex;
    align-items: center;
}

.imagem {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem img {
    width: 7vh;
}

.imagem p {
    margin-bottom: 7vh;
    font-family: 'Higelak', sans-serif;
    font-size: 8vh;
    
}
